#mainheader {
	margin-bottom: 50px;
	border-bottom: 2px solid black;
}

.nav-pills {
	margin-bottom: 30px;
}

.tab-heading {
	margin-top: 0;
	margin-bottom: 30px;
	
	font-family: "Century Gothic", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
}

h3 {
	margin-top: 40px;

	font-family: "Century Gothic", Arial, sans-serif;
	font-weight: bold;
}

h6 {
	margin-top: 40px;
	font-size: 1em;
	font-weight: bold;
}

.img-responsive {
	margin-top: 20px;
	margin-bottom: 20px;
}

#problem {
	border: 2px solid black;
	padding: 0 20px 20px 20px;
	
	font-family: "Times New Roman", serif;
}

article { /* For the article under Thursday Tech Talks */
	margin-top: 0;
}

#project-matching-img {
	max-height: 150px;
}
