.jumbotron {
	background-image: url('../img/circuit.jpg');
	padding: 30px;
	border: 3px solid grey;
}

.jumbotron h1 {
	font-size: 2em;
	font-weight: bold;
}

.jumbotron p {
	font-size: 1.2em;
}

.jumbotron .btn {
	font-size: 1.2em;
	border: 3px solid grey;
	margin: 5px;
	white-space: normal;
}

#news-heading {
	margin-top: 75px;
}

article {
	margin: 30px 0;
	border-radius: 15px;
	padding: 20px;
	background-color: #73C6EA;
}

article h2 {
	margin-top: 0;
	margin-bottom: 20px;
	border-bottom: 2px solid black;
	
	font-size: 1.8em;
	font-family: "Century Gothic", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
}

.glyphicon {
	margin-right: 15px;
}

.time, .loc {
	margin: 10px 0;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: rgb(66, 139, 202);
	background: linear-gradient(to right, rgb(66, 139, 202), #73C6EA);
	
	font-weight: bold;
}
