/*
Contrary to the file name, contains not only navbar css, but css that applies
to all pages on the site.
*/

body {
    padding-top: 25px;
    padding-bottom: 40px;
	background-color: rgb(211, 250, 253);
	color: black;
	
	font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
}

.navbar-default {
	background-color: rgb(211, 250, 253);
	border: 0;
}

.brand img {
	height: 200px;
}

@media (min-width: 768px) {
	#nav-collapse {
		height: 50px !important;
		background-color: rgb(160, 216, 237);
		background: linear-gradient(to right, #57A8D5, rgb(211, 250, 253));
		margin-top: 75px;
		margin-left: 100px;
	}
}

.navbar-toggle {
	margin-top: 80px;
}

.navbar a {
	height: 50px;
	font-size: 15px;
}

.navbar a:hover {
	border: 3px solid #6EB4D8;
	padding-top: 13px;
}

#active {
	color: black;
	background: transparent;
	border: 3px solid #3792c1;
	padding-top: 13px;
}
